html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto Condensed', sans-serif;
}

.navbar {
  background:#222;
  position: fixed; /* <-- Look here */
  right: 0;
  left: 0;
  z-index: 1030;
}
.navbar-brand {
  color: #ffffff;
}

.navbar-brand:hover {
  color: #e0e0e0;
}
.nav-link {
  margin-left: 1em !important;
  color: #ffffff;

}
.nav-link:hover {
  color: #e0e0e0;
}
.navbar-collapse {
  justify-content: flex-end;
}

.page-header {
  background-image: url('images/interlaced.png');
}

.description {
  padding-top: 5em;
  padding-bottom: 2em;
}

.description-img {
  max-width: 230px;
  max-height: 230px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.description-content {
  color: #37474f;
  font-size: 1.15rem;
  line-height: 1.5;
  text-align: center;
}

.features {
  margin-top: 2em;
  padding: 1em;
  text-align: left;

}
.feature-title {
  color: #222e;

  margin-bottom: 20px;
  text-align: left;
}
.features img {
  margin-bottom: 16px;
}

.progress-bar {
  background-color: #222;
  font-size: 120%
}

.progress {
    height: 2em;
}
.page-footer {
  background-color: #222;
  color: #ccc;
  margin: none;
  z-index: 1;
  position:relative;
}
.footer-copyright {
  color: #666;
  padding: 10px 0;
}
