body {
  background-color: #FF9800;
  
}

h1 {
  color: #ffffff;
  font-family: 'helvetica';
  font-size: 300%;
  text-align: left;
  margin: 38px;
}

h2 {
  color: #ffffff;
  font-family: 'helvetica';
  font-size: 200%;
  padding: 38px;

}

h3 {
  color: #ffffff;
  font-family: 'helvetica';
  font-size: 100%;
  margin: 38px;
}

ul {
  list-style-type: none;
  margin: 38px;
  overflow: auto; /* Enable scrolling if the sidenav has too much content */
  background-color: #616161;
  border-radius: 10px;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  font-family: 'helvetica';
  font-size: 16pt;
  text-align: center;
  padding: 16px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #2E2E2E;
}

.dropbtn {
  background-color: #616161;
  color: white;
  font-family: 'helvetica';
  font-size: 16pt;
  padding: 16px 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #2E2E2E;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  padding: 16px 16px;
  font-family: 'helvetica';
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #616161;}

.dropdown:hover .dropdown-content {
  display: block;
  position: fixed;
}

.dropdown:hover .dropbtn {background-color: #2E2E2E;}